* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    font-weight: 900;
    padding: 4px 0;
  }
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  font-size: 18px;
  color: #253041;

  /*
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  */
}
