* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: 900;
  padding: 4px 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  font-size: 18px;
  color: #253041;
  /*
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  */
}

/*
.classA {
  background-color: antiquewhite;
  &__B {
    background-color: #146ff8;
  }
}
*/
.header {
  display: flex;
  width: 100%;
  height: 60px;
  top: 0;
  position: fixed;
  background-color: #fff;
  font-weight: 900;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}
.header .logo {
  padding-left: 25px;
}
.header .logo a {
  display: flex;
  height: 100%;
  align-items: center;
  /*img {
    display: block;

    height: 40%;
    align-items: center;
  }*/
}
.header .logo a svg {
  width: 90px;
  height: 24px;
}
.header .navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.header .navigation__left, .header .navigation__right {
  margin: 0 25px;
  display: flex;
}
.header .navigation__right .navigation__item:last-child a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header .navigation__item {
  display: flex;
  align-items: center;
}
.header .navigation__item a {
  color: #253041;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
.header .navigation__item a:hover {
  color: #146ff8;
}
.header .navigation__item a:hover .cart-indicator {
  background-color: #146ff8;
}
.header .navigation__item a:hover .fa-chevron-down {
  transform: scale(1, -1);
}
.header .navigation__item a .fa-chevron-down {
  padding-left: 5px;
  font-size: 12px;
  color: #253041;
}
.header .navigation__item .cart-indicator {
  display: flex;
  margin-left: 10px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #253041;
}
.header .navigation__item .cart-indicator span {
  margin: 0 auto;
  font-weight: 700;
  color: #fff;
}

.container {
  padding-top: 58px;
}
.container .wrapper {
  max-width: 100%;
  height: 518px;
}
.container .wrapper_left {
  max-width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
.container .module, .container .module_toothpaste {
  height: 670px;
  display: block;
  background-image: url("https://www.goby.co/assets/modern-luxary-desktop-810f00643379d078f84ed90e28d96ba12742e9fb347cc966e480c75f9d896740.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.container .module_toothpaste {
  height: 600px;
  background-image: url("https://www.goby.co/assets/desktop-toothpaste-caf62cac68ddd0b1da95c03378287504996390244716e267183a9affcefe8aa8.jpg");
}
.container .module_toothpaste .info {
  padding: 0;
}
.container .info {
  max-width: 440px;
  margin: 0 auto;
  padding: 150px 0 0;
  text-align: center;
}
.container .info h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: -0.15rem;
  font-weight: 900;
}
.container .info .button {
  display: block;
  width: 150px;
  margin: 30px auto 0;
  padding: 20px 10px;
  text-align: center;
  background-color: #eb0089;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 0.08rem;
}
.container .info .button_white {
  background-color: #fff;
  color: #253041;
}
.container .add-info {
  height: 152px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 1000px;
}
.container .add-info__item {
  width: 100%;
}
.container .add-info__item h5 {
  font-size: 12px;
}
.container .add-info__item h4 {
  font-size: 20px;
  letter-spacing: -0.08rem;
}
.container .add-info__item h3 {
  font-size: 30px;
  letter-spacing: -0.08rem;
}
.container .add-info__stars {
  text-align: center;
  margin-bottom: 10%;
}
.container .add-info__stars img {
  width: 130px;
  background-image: url();
}

.accessibility {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #146ff8;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  transition: scale 0.1s ease-in-out;
}
.accessibility i {
  padding-top: 7.5px;
  font-size: 30px;
  color: #fff;
}
.accessibility:hover {
  cursor: pointer;
  scale: 1.1;
}/*# sourceMappingURL=main.css.map */